*.dmp
*.bak
*.log

*.sqd                
*.dbmdl                
*.connections.xml
*.dbeaver-data-sources.xml
*.ora                
*.sql~               

-
__pycache__/
*.py[cod]
*$py.class
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

.idea/
*.iml
*.sublime-project
*.sublime-workspace
*.vscode/

*.log
*.tmp
*.swp
*.bak
*.old
*.orig

build/
dist/
*.egg
*.egg-info/
